<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=UA-136415898-3"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "UA-136415898-3");
        </script>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link
            rel="icon"
            href="https://res.cloudinary.com/sankarkvs/image/upload/v1594451971/images/VinnovateIT-shape_paq5pr.png"
        />
        <title>Semester Buddy</title>
        <meta property="og:type" content="website" />
        <meta name="twitter:card" content="summary" />
        <meta
            name="twitter:url"
            content="https://semesterbuddy.herokuapp.com/"
        />
        <meta name=" twitter:title" content="Semester Buddy" />
        <meta
            name="twitter:description"
            content="A small gift by VinnovateIT , to make your Online semester a cake walk."
        />
        <meta
            name="twitter:image"
            content="https://image.flaticon.com/icons/svg/3174/3174974.svg"
        />
        <meta property="og:title" content="Semester Buddy" />
        <meta
            property="og:url"
            content="https://semesterbuddy.herokuapp.com/"
        />
        <meta
            property="og:description"
            content="A small gift by VinnovateIT , to make your Online semester a cake walk."
        />
        <meta
            property="og:image"
            itemprop="image"
            content="https://image.flaticon.com/icons/svg/3174/3174974.svg"
        />
        <script type="text/javascript" src="data.json"></script>

        <link rel="stylesheet" type="text/css" href="/css/form_css.css" />

        <!-- Latest compiled and minified CSS -->
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous"
        />

        <!-- Optional theme -->
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
            integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
            crossorigin="anonymous"
        />

        <!-- Latest compiled and minified JavaScript -->
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"
        ></script>
        <title>Add Link</title>
    </head>

    <body>
        <h1 class="pata_form heading_for_form" style="color: rgb(255, 74, 74);">
            Add your Whatsaap Group To the list.
        </h1>
        <div class="pata_form">
            <iframe
                class="col-6 justify-content-center align-items-center"
                src="https://docs.google.com/forms/d/e/1FAIpQLSdro-gKF_lz6cHcb9PEfxoMdrqmk_wiuNhJirHD-TlDnQAwHQ/viewform?embedded=true"
                width="640"
                height="979"
                frameborder="0"
                >Loading…</iframe
            >
        </div>
        <div
            class="pata_form"
            style="width: 80%; margin: 2rem; font-size: 1.5rem;"
        >
            <a href="/">
                <button
                    type="button"
                    style="background-color: black !important;"
                    class="btn btn-dark"
                >
                    Back
                </button>
            </a>
        </div>
    </body>
</html>
